.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:gray;
    text-align: center;
  
}
.container
{
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px white;
    height: 170px;
   
}


.H3
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #f7f7f7;
 
 
}

.login-form 
{
  width: 50%;
  margin: 50px auto;
  font-size: 15px;
}
.login-form form 
{
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 
{
  margin: 0 0 15px;
}
.form-control, .btn 
{
  min-height: 38px;
  border-radius: 2px;
}
.btn 
{        
  font-size: 15px;
  font-weight: bold;
}
body {
  background: url('bankimg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
